.card {
	background-color: rgba(123,175,205,0.4);
}

.card-content {
	height: 55px;
}

.card .card-content {
	padding: 10px 15px 10px 8px;
}

.switch {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	padding-top: 25px;
	padding-right: 11px;
}

.row {
	margin-bottom: 0;
}

.status {
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 8px;
}

.card-action {
	height: 60px;
	padding: 0px;
	margin: 0px;
	line-height: 0;
}

select {
	height: 35px;
	display: block;
	width: 100px;
	font-size: 12px;
}


.card-title {
	position: relative;
	float: left;
}

button {
	position: relative;
	float: right;
}

